{% extends 'base.html' %}
{% load static %}

{% block title %}Группы оборудования{% endblock %}

{% block content %}
<style>
    .table td {
        max-height: 40px;
        line-height: 40px;
        padding: 0 8px;
        max-width: 150px;
    }
    .table td a {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
</style>
<div class="container-fluid">
    <div class="d-flex flex-column flex-md-row justify-content-between align-items-center mb-3">
        <h1 class="mb-2 mb-md-0">Группы оборудования</h1>
    </div>
    <div class="d-flex flex-column flex-md-row justify-content-between align-items-center mb-3"> 
        {% include 'includes/search.html' %}
        <div class="d-flex justify-content-between align-items-center">
            <a href="{% url 'equipment:group-create' %}" class="btn btn-primary">
                <i class="bi bi-plus-lg"></i> Создать группу
            </a>
        </div>
</div>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Название</th>
                <th>Количество оборудования</th>
                <th>Создана</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for group in groups %}
            <tr>
                <td><a href="{% url 'equipment:group-detail' group.id %}">{{group.name}}</a></td>
                <td><a href="{% url 'equipment:group-detail' group.id %}">{{group.equipment.count}}</a></td>
                <td><a href="{% url 'equipment:group-detail' group.id %}">{{group.created_at|date:"d.m.Y"}}</a></td>
                <td>
                    <div class="group_buttons">
                        <a href="{% url 'equipment:group-duplicate' group.pk %}" class="btn"><i class="fas fa-copy"></i></a>
                        <a href="{% url 'equipment:group-update' group.id %}" class="btn edit-btn"> <i class="fas fa-edit"></i></a>
                        <a class="btn" onclick="confirmDelete('{% url 'equipment:group-delete' group.id %}', '{{ group.name }}', 'группу оборудования', 'Это действие приведет к удалению всех связей с оборудованием в этой группе.')">
                            <i class="fas fa-trash"></i>
                        </a>  
                    </div>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6" class="text-center">Группы оборудования не найдены</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% include 'includes/delete_confirmation_modal_equipment.html' %}
{% csrf_token %}
{% endblock %}
{% block extra_js %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Инициализация модального окна удаления
        window.deleteModal = new bootstrap.Modal(document.getElementById('deleteConfirmationModal'));
    });
</script>
{% endblock %}